/* Estilização padrão gerado pelo projeto inicial do ViteJS para o React */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Adicione a classe city-card para estilizar o componente CityCard */
.city-card {
  background-color: #f0f0f0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.city-card h2 {
  margin-top: 0;
}

.city-card p {
  margin-bottom: 0.5rem;
}

.color-box {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}
